/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

.pageHeader {
  background: red;
  float: left;
  width: 100%;
}
.main {
  background: yellow;
  float: left;
  width: 60%;
}
.sideBar {
  background: green;
  float: right;
  width: 40%;
}
.pageFooter {
  background: blue;
  float: left;
  width: 100%;
}

.placeholder {
  border: 1px solid black;
  background: rgba(255,255,255,.6);
  padding: 20px;
  height: 150px;
  margin: 10px;
}
