/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */


.pageHeader {
    width:100%;
    float:right;
    background: red;
}

.main {
    width:60%;
    float:right;
    background: yellow;
}

.sideBar {
    width:40%;
    float:right;
    background: green;
}

.pageFooter {
    width:100%;
    float:right;
    background: blue;
}

.placeholder {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
	background: rgba(255,255,255,0.7);
	margin: 10px;
}