/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;
}

.logo {
  font-size: 48px;
  font-weight: 800;
}

.pageIntro {
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  padding-top: 32px;
}

.pageIntro .logo {
  color: #fff;
}
.tagline {
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}
.btn {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.btn-cta {
  background: #f9e42e;
  color: #033048;
}
.btn-signup {
  background: #033048;
  color: #fff;
  font-size: 24px;
}
.benefits {
  padding: 100px 0 80px;
}
.container h1 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
.benefits p, .benefits ul {
  width: 600px;
}
.benefits ul {
  list-style: disc;
  margin: 30px 0 0 80px;
}
.testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 70px 0 70px;
  color: #fff;
}
.testimonial blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
.testimonial blockquote .author {
  font-weight: 600;
  display: block;
  font-style: normal;
}
.ctaBox {
  background: #f9e42e;
  padding: 30px;
  text-align: center
}
.pageFooter {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}
.pageFooter .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}
.pageFooter ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}
.pageFooter p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.pageFooter a {
  color: white;
  font-size: 2em;
}
