
body {
  font-family: georgia, serif;
  font-size: 16px;
  background: white;
  color: #05080C;
}

.commonstyles a {
  font-weight: bold;
  color: #05080C;
}

.commonstyles small {
  color: #05080C;
}

.commonstyles strong {
  color: #030609;
  font-style: italic;
}

.commonstyles h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #030609;
  margin-top: 0;
}

.commonstyles h2 {
  color: #030609;
}

.commonstyles h3 {
  margin-top: 42px;
}

.commonstyles h4 {
  margin-bottom: 0;
}

.commonstyles p {
  margin-top: 0;
  margin-bottom: 27px;
  font-family: Georgia;
  color: #05080C;
}

.commonstyles ul {
  list-style: square;
}

.commonstyles ul p {
  color: #05080C;
}

.commonstyles li {
  color: #05080C;
}

.commonstyles hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

.commonstyles img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #222222;
  padding: 5px;
  text-align: center
}

.commonstyles img[alt] {
  float: right;
}

.toc {
  max-width: 300px;
  float:right;
  margin: 0 0 20px 20px;
  background-color: #f2f2f2;
}

.toc .toclevel-1 {
  list-style-type: none;
  padding-bottom: 2px;
  font-size: 14px;
}

.toc .toclevel-1 > a {
  font-weight:bold;
  color: #3344aa;
}

.toc .toclevel-2 {
  list-style-type: none;
  padding-left: 10px;
  padding-bottom: 2px;
  color: #3344aa;
  font-size: 13px;
}

.toc .toclevel-2 > a {
  color: #3344aa;
}

.datatable {
  background-color: #f2f2f2; 
}

.datatable td {
  padding: 8px 14px;
}

.datatable td:first-child{
  text-transform: uppercase;
}

.citation_li {
  list-style-type: none;
}
